
{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags%}
{% load static%}
<div class="container">

  <div class="row ">

      <div class="col-sm-12-md-6-lg-6">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/dJ2cG4-gbvc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <div class="col-sm-12-md-6-lg-6">
        <h3>تمارين سويدية</h3><p>أن تمارين سويدي أو تمارين (calisthenics) تعتمد على استخدام وزن الجسم بدلاً من استخدام البار، أو الدمبلز، أو الآلات، حيث أن ممارسة هذه التمارين تتم من خلال تحريك الجسم في العديد من الاتجاهات حتى يصبح أقوى، وتساعدك أيضاً على تحسين حالة الجسم. وهي من التمارين التي تحقق اللياقة البدنية للجسم، وكذلك تساعد على رشاقة الحركة بالإضافة إلى أنها تساعد على تقوية وزيادة كتلة العضلات بالجسم، كما تساعد على التخلص من دهون الجسم.
         </p>
              <h5>تمارين سويدي للصدر
        <
        </h5>
              <img src="{%  static 'blog/images/test.jpg'%}"width=680px lenght=200px>

            <h4>تمرين الضغط المائل Incline Push ups

         </h4>
            <img src="{%  static 'blog/images/test1.jpg'%}"width=680px lenght=200px>
            <h4> تمارين سويدي للظهر

            </h4>

            <h5>تمرين العقلة Chin-ups

        </h5>
            <img src="{%  static 'blog/images/test2.jpg'%}"width=680px lenght=200px>
            <h6>تمرين التمدد Hyperextensions</h6>
            <img src="{%  static 'blog/images/test3.jpg'%}"width=680px lenght=200px>

          </div>

  </div>
  <div class="row">
    <div class="col-co-sm-12-md-6-lg-6">
      <h2>
        تمارين سويدية للوركين :السكوات squats</h2>
      <h5>تمارين sissy squats</h5>
      <img src="{%  static 'blog/images/test4.jpg'%}"width=680px lenght=200px>
      <h5>تمارين الطعنات lunges</h5>
      <img src="{%  static 'blog/images/test5.jpg'%} "width=680px lenght=200px>
    </div>

    </div>
  <div class="row">
    <div class="col-col-co-sm-12-md-6-lg-6 pt-3">
    <h3>أهمية تمارين سويدي

 </h3>
      <p>عليك أن تعلم عزيزي القاريء أن أكبر ميزة لتمارين سويدي هي أنها من التمارين التي يمكن ممارستها بأي مكان. ولعل أهم ما يشاع عن هذه التمارين أنها تساعد في: بناء كتلة العضلات. تزيد من قوة المفاصل والعظام. كما تزيد من تناسق الجسم. تساعد على الثبات والتحكم في العضلات. وعليك أن تعلم أن هذه التمارين من التمارين المرنة بدرجة كبيرة، حيث يمكن ممارستها بأي وقت، ويمكن ممارستها منفرداً أو مع جماعات، كما أن ممارسة 40 دقيقة من هذه التمارين يساعد على حرق 400 سعر حراري

 </p>
      <h5>عيوب تمارين سويدي</h5>
      <p> إن كان الهدف من ممارستك للتمارين هو بناء كتلة العضلات بسرعة، فعلى الأرجح لن تكون هذه التمارين هي الخيار الأفضل لحالتك. ويمكن أن تقوم بتطوير عدد من الحركات من أجل زيادة مقاومة الجسم، ولكن في النهاية أنت مقيد بوزن الجسم الخاص بك. وفي حالة كنت تحاول التركيز على عضلات محددة، فستكون تمارين رفع الأثقال أفضل لهذا الغرض، ولكن يمكن أن تكون التمارين مفيدة للمبتدئين، حيث تساعدهم على التعرف على الوضعيات الصحيحة للجسم.

 </p>
  </div>
</div>
</div>


{% endblock content %}