{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags%}


    <div class="border p-4 mb-5  ">
        <h3 class="border-bottom pb-1 mb-3 ">التسجيل</h3>
<form method="POST" action=""> {% csrf_token %} {{form|crispy}}
<input class="btn-btn-primary mt-4" type="submit" value="تسجيل">

</form>
        <div class="border-top mt-4 pt-2">
          <small>
              اذا كان لديك حساب من قبل يمكنك
          <a href="{% url 'login' %}" >
              تسجيل الدخول
          </a></small>
        </div>

{% endblock content %}