
{% extends 'blog/base.html' %}

{% load static %}

{%block content%}





{% for project in projects %}
<div  class="border p-3 mb-3">
   <div class="card">
       <h3 class="card-title">  <a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></h3>


       <img class="card-img-top" src="{{project.picture.url}}" alt="picture" width="40px"height="400px">
                    <br><br>

            <div class="card-body">



                <p class="card-text">{{ project.description }}</p>





        </div>
 </div>


    {% endfor %}



{% endblock %}