@font-face{
    font-family:'Amiri';
    src:url('../fonts/Amiri-Regular.ttf') format("truetype"),
        local('Amiri');

}
body,html{ direction:rtl;
           text-align:right;
}
body{
     font-family:'Amiri',sans-serif;
}
.bg-secondary{
        background-color:#666  !important   ;
}
.bg-light{
       background-color:#ccc !important ;
}
.post{  border:1px solid #ccc ;
}
.latest-post,.latest-comment{padding:0 15px;
}
.latest-post,.latest-post-item,.latest-comment .latest-comment-item{
   padding:6px;
   }
.latest-post li :first-child,latest-comment li:first-child{border-top:0;}
.latest-post li :last-child,latest-comment li:last-child{border-bottom:0;
padding-bottom:0;}
.comment{ background-color:%f8f8f8
border:1px dashed #ccc
}
